.blok{
    margin-top: 50px;
}
.blok h2{
    margin-top: 100px;
    color: #176c04;
    font-size: 45px;
}
.blok p{
    margin-top: 20px;
    color: #176c04;
    font-weight: 500;
}
.bolg5{
    margin-top: 100px;
}
